body{
    background-color: #212529;
}
#tit{
    color: #F7971E;
    text-align: right;
    font-family: 'Pirata One', cursive;
    font-size: 2.5vw;
    text-decoration: none;
}


/*----------------------------Nav------------------------*/
.class-elem2{        
    grid-area: Nav;
}

/*----------------------------Aside------------------------*/
.class-elem3{        
    grid-area: Aside;
}

/*----------------------------Cont------------------------*/
.class-elem4{        
    grid-area: Contenido;
}



/*----------------------------Footer------------------------*/
.class-elem5{        
    grid-area: Footer;
}



